@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-title">
    <h1>Sugestões</h1>
</div>


<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Produtos</th>
                <th scope="col">Horas</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Impressora, Jogo de Panelas, Televisão</td>
                <td>21 horas</td>
                <td>R$ 540,00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Impressora, Cafeteira, Material Escolar, Camiseta, Livro</td>
                <td>21 Horas</td>
                <td>R$ 595,00</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jogo de Panelas, Cafeteira, Material Escolar, Camiseta, Joystick</td>
                <td>21 horas</td>
                <td>R$ 640,00</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Jogo de Panelas, Televisão, Cafeteira, Joystick, Livro</td>
                <td>21 horas</td>
                <td>R$ 680,00</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Televisão, Cafeteira, Material Escolar, Camiseta, Joystick, Livro</td>
                <td>21 horas</td>
                <td>R$ 680,00</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <a asp-controller="pedido" asp-action="carrossel" class="btn btn-success">Escolher Itens</a>
</div>


